* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
.sidebar {
  margin: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 0;
  padding-right: 0;
  width: 10rem;
  height: 80vh;
  border-top: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
#sb-heading {
  color: blueviolet;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 1rem;
}
.sb-item {
  padding: 0.5rem;
  margin-bottom: 0.25rem;
  cursor: pointer;
}
.sb-item:hover {
  font-weight: 600;
  background-color: #f0f0f0;
}
