body {
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header h1 {
  display: flex;
  justify-content: center;
  color: #4a148c;
  letter-spacing: -1px;
}

footer {
  display: flex;
  justify-content: center;
  color: snow;
  background-color: #4a148c;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

footer p {
  font-size: 0.8rem;
  opacity: 0.8;
}

#parent {
  background-color: #212121;
  margin: auto;
  width: 256px;
  height: 256px;
  /* Position properties below this line */
  position: relative;
  /* Position properties above this line */
}

#child-1 {
  width: 2rem;
  height: 2rem;
  background-color: #ff8a80;
  position: absolute;
  /* Position properties below this line */
  z-index: 1;
  /* Position properties above this line */
}

#child-2 {
  width: 2rem;
  height: 2rem;
  background-color: #69f0ae;
  /* Position properties below this line */
  position: relative;
  z-index: 2;
  top: 1rem;
  left: 1rem;
  /* Position properties above this line */
}

#child-3 {
  width: 2rem;
  height: 2rem;
  background-color: #ffee58;
  /* Position properties below this line */
  position: absolute;
  z-index: 3;
  top: 2rem;
  left: 2rem;
  /* Position properties above this line */
}
