.menu {
  margin: 1rem;
  padding: 4px;
  cursor: pointer;
}
.dot {
  height: 1rem;
  width: 1rem;
  margin-bottom: 4px;
  background-color: #424242;
  border-radius: 50%;
}
.square {
  height: 1rem;
  width: 1rem;
  background-color: #424242;
  margin-bottom: 4px;
}
.rect {
  height: 0.5rem;
  width: 2.5rem;
  background-color: #424242;
  margin-bottom: 4px;
}
/* .dot:hover,
.rect:hover,
.square:hover {
  background-color: rgba(68, 240, 76, 0.4);
} */
/* .menu:hover {
  background-color: rgba(68, 240, 76, 0.4);
} */
.menu-hover:hover .dot,
.menu-hover:hover .rect,
.menu-hover:hover .square {
  background-color: rgba(68, 240, 76, 0.4);
}
.menu > :last-child {
  margin-bottom: 0px;
}
